# This is not really a .desktop file like the rest, but it's useful to treat
# it as such

[GdmGreeterTheme]
Encoding=UTF-8
Greeter=mdk-kde.xml
Name=Mandriva Linux
Description=Mandriva Linux theme
Author=Mandriva graphic team
Copyright=(c) 2002-2007 Mandriva
Screenshot=screenshot_kdm.png
