[Desktop Entry]
Name=OpenMandriva
Name[x-test]=xxOpenMandrivaxx

X-KDE-PluginInfo-Name=OpenMandriva
X-KDE-PluginInfo-Author=OpenMandriva Artwork
X-KDE-PluginInfo-Email=OpenMandriva
X-KDE-PluginInfo-License=CC-BY-SA-4.0
