[Desktop Entry]
Encoding=UTF-8
Name=Join
Name[pl]=Dołącz
Comment=Join OpenMandriva Community
Comment[pl]=Dołącz do społeczności OpenMandriva
Type=Link
URL=https://www.openmandriva.org/Join-contribute
Icon=omv-join-now
