[Desktop Entry]
Encoding=UTF-8
Name=OpenMandriva Panel
Type=Service
ServiceTypes=Plasma/LayoutTemplate
X-Plasma-Shell=plasmashell
X-Plasma-ContainmentCategories=panel
X-KDE-PluginInfo-Author=Tomasz Pawe³ Gajc
X-KDE-PluginInfo-Email=tpgxyz@gmail.com
X-KDE-PluginInfo-Name=org.openmandriva.plasma.desktop.defaultPanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://www.openmandriva.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
